html,
body {
    direction: rtl;
    text-align: right;
}

.ml-auto,
.mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.navbar-nav {
    padding-right: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}